:root {
  --oxford-blue: #101f36ff;
  --wild-blue-yonder: #b4bae4ff;
  --oxford-blue-2: #122134ff;
  --medium-slate-blue: #6565f8ff;
  --oxford-blue-3: #0d1c31ff;
  --prussian-blue: #213758ff;
  --oxford-blue-4: #12223bff;
  --oxford-blue-5: #09192dff;
  --prussian-blue-2: #172c48ff;
  --prussian-blue-3: #1b304cff;
}
